.articleLivro {
  width: 200px;
  max-width: 310px;
  padding-block: 15px;
  padding-inline: 4px;
  border: 2px solid $primary;
  border-radius: 9px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.4s ease-in-out;

  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
}

.imagem {
  width: 48%;
}

.descricao {
  color: $black;
  font-size: 16px;
  text-align: center;
  max-width: 86%;
  margin-block: auto;
}

.listaInfo {
  margin-top: 3vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  li {
    text-transform: capitalize;
    color: $black;
    text-align: center;
  }
}

.paginas {
  color: #0334a7;
  font-weight: 600;
}

.categoria {
  color: #0334a7;
  font-weight: 600;
}




