/* Estilos gerais do container */
.resumoContainer {
  background: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 800px;
  margin: 9vh auto;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards; /* Animação de fadeIn no carregamento */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilo para o título */
.title {
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  color: #1a202c;
  margin-bottom: 40px;
  font-weight: 600;
  animation: slideIn 0.7s ease-out; /* Animação de slide-in para o título */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Layout das informações */
.infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
  animation: fadeInUp 1s ease-out; /* Animação de fade-in para o conteúdo */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo de cada bloco de informação */
.infoItem {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 48%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  animation: fadeInLeft 0.8s ease-out; /* Animação de fade-in à esquerda */
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.infoItem:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Estilo do texto */
.infoItem strong {
  color: #2d3748;
  font-weight: 500;
}

.infoText {
  color: #4a5568;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 8px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .infoContainer {
    flex-direction: column;
  }

  .infoItem {
    width: 100%;
    margin-bottom: 20px;
  }

  .title {
    font-size: 2rem;
  }
}

.containerLoader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .loader {
    color: $primary;
  }

  p {
    color: $black;
  }
}

.buttonConfirm {
  margin-top: 4vh;
}

.button {
  background-color: $primary;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  font-size: 1em;

  &:hover {
    background-color: darken($primary, 10%);
  }
}