@import "../../../styles/global.scss";

.sectionLivrosDoados {
  height: 81dvh;
}

.titulo {
  color: $black;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.sectionLivros {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  max-width: 90dvw;
  margin: 0 auto;
}

@media (max-width: $breakpoint-mobile) {
 .titulo {
  font-size: 30px;
 }

 .sectionLivros {
  margin-top: 5vh;
 }
}
